/* Color & Fonts Palette */
:root {
    --Primary: #9c27b0;
    --Primary2: #89119d;
    --Secondary: #ffce00;
    --Secondary2: rgb(233 187 2);
    --White: #ffffff;
    --Black: #000000;
    --Font: 'Staatliches', cursive;
}

/* Global Styles */
html {
    box-sizing: border-box; /*! Box Model */
    font-size: 62.5%; /*! Set 10px = 1rem */
}

*, *:before, *:after {
    box-sizing: inherit; /*! Box Model */
}

body {
    background-color: var(--Primary);
    font-size: 16px; /*! Set 10px = 1rem */
    line-height: 1.5; /* line Spacing */
}

p {
    color: var(--White);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

a { text-decoration: none; }

img { max-width: 100%; }

.Container {
    margin: 0 auto;
    max-width: 120rem;
}

h1, h2, h3 {
    color: var(--Secondary);
    font-family: var(--Font);
    text-align: center;
}

h1 { font-size: 4rem; }

h2 { font-size: 3.2rem; }

h3 { font-size: 2.4rem; }

/* Header Logo */
.Header {
    display: flex;
    justify-content: center;
}

.Header_Logo { margin: 3rem 0; }

/* Navigation Menu */

.NavMenu {
    background-color: var(--Primary2);
    display: flex;
    gap: 2rem; /* Replace margin propriety on Flexbox */
    justify-content: center;
    padding: 1rem 0;
}

.NavMenu_Link {
    color: var(--White);
    font-family: var(--Font);
    font-size: 3rem;
    /* margin-right: 2rem; Deprecated, use gap instead */
}

/* .NavMenu_Link:last-of-type { margin-right: 0;} Deprecated,
use gap instead */

.NavMenu_Link-Active,
.NavMenu_Link:hover { color: var(--Secondary); }

/* Store */
.Product {

}

.Product_Image {

}

.Product_Info {

}

.Product_Name {

}

.Product_Price {

}

/* Footer */
.Footer {
    background-color: var(--Primary2);
    margin-top: 2rem;
    padding: 1rem 0;
}

.Footer_Text {
    text-align: center;
    font-family: var(--Font);
}