/* Color & Fonts Palette */
:root {
    --Primary: #9c27b0;
    --Primary2: #89119d;
    --Secondary: #ffce00;
    --Secondary2: rgb(233 187 2);
    --White: #ffffff;
    --Black: #000000;
    --Font: 'Staatliches', cursive;
}

/* Global Styles */
html {
    box-sizing: border-box; /*! Box Model */
    font-size: 62.5%; /*! Set 10px = 1rem */
}

*, *:before, *:after {
    box-sizing: inherit; /*! Box Model */
}

body {
    background-color: var(--Primary);
    font-size: 16px; /*! Set 10px = 1rem */
    line-height: 1.5; /* line Spacing */
}

p {
    color: var(--White);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

a { text-decoration: none; }

img { width: 100%; }

.Container {
    margin: 0 auto;
    max-width: 120rem;
}

h1, h2, h3 {
    color: var(--Secondary);
    font-family: var(--Font);
    text-align: center;
}

h1 { font-size: 4rem; }

h2 { font-size: 3.2rem; }

h3 { font-size: 2.4rem; }

/* Header Logo */
.Header {
    display: flex;
    justify-content: center;
}

.Header_Logo { margin: 3rem 0; }

/* Navigation Menu */

.NavMenu {
    background-color: var(--Primary2);
    display: flex;
    gap: 2rem; /* Replace margin propriety on Flexbox */
    justify-content: center;
    padding: 1rem 0;
}

.NavMenu_Link {
    color: var(--White);
    font-family: var(--Font);
    font-size: 3rem;
    /* margin-right: 2rem; Deprecated, use gap instead */
}

/* .NavMenu_Link:last-of-type { margin-right: 0;} Deprecated,
use gap instead */

.NavMenu_Link-Active,
.NavMenu_Link:hover { color: var(--Secondary); }

/* Store */
.Grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.Product {
    background-color: var(--Primary2);
    padding: 1rem;
}

.Product_Image { width: 100%; }

.Product_Name { font-size: 4rem; }

.Product_Price {
    color: var(--Secondary);
    font-size: 2.8rem;
}

.Product_Name, .Product_Price {
    font-family: var(--Font);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* Example Shirts Images */
.BackG {
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
    min-height: 30rem;
}

.BackG_Shirts {
    background-image: url(../img/grafico1.jpg);
    grid-row: 2 / 3;
}

.BackG_ShirtNode {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

/* Media Query Store */
@media (min-width: 768px) {

    .BackG_ShirtNode {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}
}

@media (min-width: 768px) {
    .Grid { grid-template-columns: repeat(3, 1fr); }
}

/* Footer */
.Footer {
    background-color: var(--Primary2);
    margin-top: 2rem;
    padding: 1rem 0;
}

.Footer_Text {
    text-align: center;
    font-family: var(--Font);
}

/* About Us Page */

.AboutUs {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.BuyUs {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
}

.BuyUs h3, p { margin: 0 auto; }

/* Media Query About Us Page */
@media (min-width: 768px) {
    .AboutUs {
            flex-direction: row-reverse;
            gap: 2rem;
            justify-content: center;
            margin: 0;
        }

    .AboutUs_Text { max-width: 536px; }

    .BuyUs {
        display: flex;
        justify-content: center;
    }
}

/* Product Page */
.Form {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
}

.Form_Field {
    appearance: none;
    background-color: var(--Primary);
    border: 1rem solid var(--Primary2);
    color: var(--White);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 1rem;
}

.Form_Submit {
    background-color: var(--Secondary);
    border: none;
    font-family: var(--Font);
    font-size: 2rem;
    grid-column: 1 / 3;
    padding: 2rem;
    transition: background-color .5s ease;
}

.Form_Submit:hover {
    background-color: var(--Secondary2);
    cursor: pointer;
}

/* Media Query Product Page */
@media (min-width: 768px) {
    .Shirt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}